<div class="pagination" ng-show="page_count > 1">


    <a class="btn btn-default prev pagination-btn" ng-class="{disabled:prevDisabled}" ng-click="prevPage()">
        <i class="fa fa-chevron-left"></i>
    </a>
    <select ng-model="currentpage" class="page-select form-control" ng-options="option.value as option.name for option in page_select"></select> &nbsp;&nbsp;/ {{ page_count }}
    <a class="btn btn-default next pagination-btn" ng-class="{disabled:nextDisabled}" ng-click="nextPage()">
        <i class="fa fa-chevron-right"></i>
    </a>

</div>
<div class="pull-right pagination one-page" ng-show="page_count === 1">
    <t>paginate_page</t>: 1 / 1
</div>